*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html{
    font-size: 62.5%;
}

header{

    padding: 20px;


}

.menu{

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;


}

.menu__list{

    display: flex;
    gap: 20px;
    list-style: none;

}

.menu__link{

    text-decoration: none;
}